<ul>
  <div class="profile-image">
    <%= image_tag 'profile.jpg', alt: 'My Profile Picture' %>
  </div>

  <div class="introduction">
    <h2>Greetings! I'm Blake Ridgway</h2>
    <p>
      <strong>Systems & Network Administrator | Linux & Open Source Advocate | Ultra-Endurance Cyclist</strong>
    </p>
  </div>

  <ul>
    <% @links.each do |link| %>
      <li>
        <% safe_url = link.url.presence && URI.parse(link.url).scheme ? link.url : "http://#{ERB::Util.h(link.url)}" %>
        <%= link_to link.title, safe_url, target: "_blank", class: "link-button" %>
      </li>
      <% end %>
  </ul>


<%= link_to 'New Link', new_link_path, class: 'new-link-button' %>